<%= partial "partials/header" %>
<div class="content-wrapper">
  <article class="page l-contain">
    <%# Page/Article Title %>
    <h1 class="page__title"><%= current_page.data.title %></h1>
    <div class="page__content">
      <%= yield %>
    </div>
  </article>
<%= partial "partials/sidebar" %>
</div>
<%= partial "partials/footer" %>