<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <% if current_page.data.title %>
      <title>SPA Framework Docs - <%= current_page.data.title %></title>
    <% else %>
      <title>SPA Framework Docs</title>
    <% end %>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet">
  </head>
  <body>
    <header class="site-header">
      <div class="l-contain site-header__container">
        <% link_to "/" do %>
          <%= image_tag 'spa-logo.png', :class => "site-logo" %>
        <% end %>
        <nav class="site-nav">
          <%= link_to "View on GitHub", "https://github.com/benrgreene/Single-Page-Framework/" %>
          <%= link_to "Follow me on Twitter", "https://twitter.com/BenRGreene" %>
        </nav>
      </div>
    </header>